<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Page -->
  <div class="control-group">
    <%= f.label :page, :class => 'control-label' %>
    <div class="controls">
      <% page_options = ['Home',
                         'About Us',
                         'Benefits',
                         'Partnerships',
                         'Contact Us'] %>
      <% disabling = @component.page? %>
      <%= f.select :page, page_options, {}, :disabled => disabling %>
    </div>
  </div><!-- end Page -->
  <!-- Category -->
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <% category_options = ComponentConfig::DYNAMIC_ATTRIBUTES.keys.collect {
          |category| category.titleize } %>
      <%= f.select :category, category_options %>
    </div>
  </div><!-- end Category -->
  <!-- Position -->
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <% position_options = 
          Component.where(:page => @component.page).count + 1 %>
      <%= f.select :position, 1..position_options %>
    </div>
  </div><!-- end Position -->

  <%= render 'components/form/text_section' %>
  <%= render 'components/form/image_slider' %>
  <%= render 'components/form/youtube_video' %>
  <%= render 'components/form/twitter_feed' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
