<p id="notice"><%= notice %></p>

<p>Title: <%= @component.title %></p>
<p>Category: <%= @component.category %></p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
