<p id="notice"><%= notice %></p>

<p>Page: <%= @component.page %></p>
<p>Category: <%= @component.category %></p>
<p>Position: <%= @component.position %></p>

<%= render 'components/show/' + @component.category, :component => @component %>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
