<%= form_for(@employee, :html => { :class => 'form-horizontal' } ) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:role, ['Intern', 'Staff']) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:department, ['Actuarial', 'Strategic Resources',
        'Systems', 'MAGNet', 'Human Resources', 'Oversight Manager']) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :picture, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :bio %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Create Employee', :class => 'btn' %>
  </div>
<% end %>
