<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Role:</b>
  <%= @employee.role %>
</p>

<p>
  <b>Department:</b>
  <%= @employee.department %>
</p>

<p>
  <b>Bio:</b>
  <%= @employee.bio %>
</p>

<%= image_tag @employee.avatar.url(:original) %>
<%= image_tag @employee.avatar.url(:regular) %>
<%= image_tag @employee.avatar.url(:thumb) %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
