<div id="text-box-modal" class="modal hide fade">
  <div class="modal-header">
    <h3 id="text-box-modal-label">New Text Section</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@component, :html => { :class => 'form-horizontal' }) do |f| %>
      <% if @component.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@component.errors.count, 'error') %> prohibited thiscomponent from being saved:</h2>

          <ul>
            <% @component.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="control-group">
      <%= f.label :page, :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:page, ['Home']) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:category, ['text_box']) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :position, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :position %>
      </div>
    </div>
    <p>Title text_field</p>
    <p>Content text_area</p>
    <p>Position select (span6, span8, span12)</p>
    <div class="actions">
      <%= f.submit 'Create Text Section', :class => 'btn' %>
    </div>
  </div>
  <% end %>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary">Add</button>
  </div>
</div>
