<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @job.position %>
</p>

<p>
  <b>Department:</b>
  <%= @job.department %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Apply:</b>
  <%= @job.apply %>
</p>

<p>
  <b>Apply by:</b>
  <%= @job.apply_by %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
