<%= form_for(@brochure) do |f| %>
  <% if @brochure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brochure.errors.count, "error") %> prohibited this brochure from being saved:</h2>

      <ul>
      <% @brochure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <%= f.file_field :pdf %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
