<h1>Listing brochures</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Pdf</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brochures.each do |brochure| %>
  <tr>
    <td><%= brochure.department %></td>
    <td><%= link_to 'Pdf', brochure.pdf.url %></td>
    <td><%= link_to 'Show', brochure %></td>
    <td><%= link_to 'Edit', edit_brochure_path(brochure) %></td>
    <td><%= link_to 'Destroy', brochure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brochure', new_brochure_path %>
