<p id="notice"><%= notice %></p>

<p>Title: <%= @page_content.title %></p>
<p>Category: <%= @page_content.category %></p>

<%= link_to 'Edit', edit_page_content_path(@page_content) %> |
<%= link_to 'Back', page_contents_path %>
