<footer>
  <div class="container">
    <div class="row">
      <%= render :partial => 'quotes/quote',
                 :object => Quote.first(:order => 'RANDOM()') %>
      <div class="span3" id="social_media">
        <div class="icon">
          <%= link_to image_tag('social_media_icon_twitter.png', 
              :title => 'Follow us on Twitter',
              :alt => 'Follow us on Twitter'),
              'http://www.twitter.com/sfrdc',
              :target => '_blank' %>
        </div>
        <div class="icon">
          <%= link_to image_tag('social_media_icon_facebook.png',
              :title => 'Like us on Facebook',
              :alt => 'Like us on Facebook'),
              'http://www.facebook.com/sfresearch',
              :target => '_blank' %>
        </div>
        <div class="icon">
          <%= link_to image_tag('social_media_icon_youtube.png',
              :title => 'Watch us on Youtube',
              :alt => 'Watch us on Youtube'),
              'http://www.youtube.com/statefarm',
              :target => '_blank' %>
        </div>
        <div class="icon">
          <%= link_to image_tag('social_media_icon_statefarm.png',
              :title => 'Visit statefarm.com',
              :alt => 'Visit statefarm.com'),
              'http://www.statefarm.com',
              :target => '_blank' %>
        </div>
      </div><!-- end #social_media -->
    </div><!-- end .row -->
    <div id="legal">
      <p>State Farm is an Equal Opportunity Employer, which will not practice, tolerate, nor condone discrimination because of age, race, color, religion, sex, national origin, sexual orientation, or disability.</p>
    </div>
  </div><!-- end .container -->
</footer>
