<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to 'Home',             home_path %></li>
        <li><%= link_to 'About Us',         about_us_path %></li>
        <li><%= link_to 'Opportunities',    opportunities_path %></li>
        <li><%= link_to 'Interns & Staff',  interns_and_staff_path %></li>
        <li><%= link_to 'Benefits',         benefits_path %></li>
        <li><%= link_to 'Partnerships',     partnerships_path %></li>
        <li><%= link_to 'Contact Us',       contact_us_path %></li>
      </ul>
    </div>
    <% if admin_signed_in? %>
      <div id="user_nav">
        <%= link_to 'Admin', admin_path %> |
        <%= link_to 'Sign out', 
            destroy_admin_session_path, :method => :delete %>
      </div>
    <% end %>
  </nav>
  <div id="header_logos">
    <div class="container">
      <div id="header_rdc_logo">
        <a href="/">
          <%= image_tag 'header_rdc_logo.png', 
              :alt => 'State Farm Research & Development Center',
              :title => 'State Farm Research & Development Center' %>
        </a>
      </div>
      <div id="header_uiuc_logo">
        <a href="http://illinois.edu/" target="_blank">
          <%= image_tag 'header_uiuc_logo.png',
              :alt => 'University of Illinois at Urbana-Champaign',
              :title => 'University of Illinois at Urbana-Champaign' %>
        </a>
      </div>
      <div id="header_statefarm_logo">
        <a href="http://www.statefarm.com/" target="_blank">
          <%= image_tag 'header_statefarm_logo.png',
              :alt => 'State Farm',
              :title => 'State Farm' %>
        </a>
      </div>
    </div><!-- end .container -->
  </div><!-- end #header_logos -->
</header>
