<div class="container">
  <ul class="nav">
    <li><%= link_to 'Home',             home_path %></li>
    <li><%= link_to 'About Us',         about_us_path %></li>
    <li><%= link_to 'Opportunities',    opportunities_path %></li>
    <li><%= link_to 'Interns & Staff',  interns_and_staff_path %></li>
    <li><%= link_to 'Benefits',         benefits_path %></li>
    <li><%= link_to 'Partnerships',     partnerships_path %></li>
    <li><%= link_to 'Contact Us',       contact_us_path %></li>
  </ul>
</div>
